{{ define "main" }}
{{ $sidebar:= site.Params.sidebar }}
{{ $hasbar:= or (eq $sidebar `left`) (eq $sidebar `right`)}}
{{ $widget:= site.Params.widgets.sidebar }}
{{ $permalink := .Permalink }}
<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq
.Section "categories") (eq .Section "tags") }}

<section class="section">
  <div class="container">
    <article class="row mb-4">
      <!-- left sidebar -->
      {{ if eq $sidebar `left` }}
      <aside class="col-lg-4 order-2 order-lg-1 mt-5 mt-lg-0">
        <div class="pr-0 pr-lg-4">
          {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
        </div>
      </aside>
      {{ end }}
      <!-- /left sidebar -->

      {{if or (eq $sidebar `left`) (eq $sidebar `right`)}}<div
        class="col-lg-8 mx-auto {{if eq $sidebar `left`}}order-1 order-lg-2{{end}}">{{end}}
        <div class="{{if not (or (eq $sidebar `left`) (eq $sidebar `right`))}}col-lg-10 mx-auto{{end}} mb-4">
          <h1 class="h2 mb-3">{{ .Title }}</h1>
          <ul class="list-inline post-meta mb-3">
            <li class="list-inline-item"><i class="fas fa-user me-2"></i>
              <a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.author }}</a>
            </li>
            <li class="list-inline-item">{{ i18n "date"}} : {{ .PublishDate.Format "January 2, 2006" }}</li>
            <li class="list-inline-item">{{ i18n "categories" }} :
              {{ range $i,$p:= .Params.Categories }}{{if ne $i 0}},{{end}}<a
                href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/" class="ms-1">{{ . | humanize }} </a>
              {{end}}</li>
            <li class="list-inline-item">{{i18n "tags"}} : {{ range $i,$p:= .Params.Tags }}{{if ne $i 0}},{{end}}<a
                href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/" class="ms-1">{{ . | humanize }} </a> {{end}}
            </li>
          </ul>
        </div>
        {{ with .Params.images }}
        <div class="{{if not (or (eq $sidebar `left`) (eq $sidebar `right`))}}col-12{{end}} mb-3">
          {{if gt (len .) 1 }}
          <div class="swiper post-slider">
            <div class="swiper-wrapper">
              {{ range .}}
              <div class="swiper-slide">
                {{ partial "image.html" (dict "Src" . "Alt" "post-thumb" "Class" `w-100`) }}
              </div>
              {{ end }}
            </div>
            <div class="swiper-navigation">
              <button class="swiper-button-prev" aria-label="navigation button"></button>
              <button class="swiper-button-next" aria-label="navigation button"></button>
            </div>
          </div>
          {{ else }}
          <div class="post-slider">
            {{ with index . 0 }}
            {{ $imageUrl := relLangURL . }}
            {{ $imagePath := printf "%s%s" $permalink $imageUrl }}
            {{ partial "image.html" (dict "Src" $imagePath "Alt" "post-thumb" "Class" `w-100`) }}
            {{ end }}
          </div>
          {{ end }}
        </div>
        {{end}}
        <div class="{{if not (or (eq $sidebar `left`) (eq $sidebar `right`))}}col-lg-10 mx-auto{{end}}">
          <div class="content">{{.Content}}</div>
        </div>
        {{if or (eq $sidebar `left`) (eq $sidebar `right`)}}
      </div>
      {{end}}

      <!-- right sidebar -->
      {{ if eq $sidebar `right` }}
      <aside class="col-lg-4 mt-5 mt-lg-0">
        <div class="ps-0 ps-lg-4">
          {{- partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) -}}
        </div>
      </aside>
      {{ end }}
      <!-- /right sidebar -->
    </article>
    <!-- comments -->
    {{ if site.DisqusShortname }}
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{.Permalink}}"
    },
    "headline": "{{.Title}}",
    "description": "{{.Params.description}}",
    "image": "{{ with index .Params.images 0 }}{{ . | relURL }}{{ end }}",
    "author": {
      "@type": "Person",
      "name": "{{.Params.author}}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{site.Params.author}}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{site.Params.logo}}"
      }
    },
    "datePublished": "{{.PublishDate.Format `2006-01-02`}}"
  }
</script>

<!-- regular page -->
{{ else }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-bordered mb-5 d-flex align-items-center">
          <h1 class="h4 fw-normal">{{ .Title }}</h1>
        </div>
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}
