<!-- categories -->
{{ if isset site.Taxonomies "categories" }}
  {{ if not (eq (len site.Taxonomies.categories) 0) }}
    <div class="widget">
      <h5 class="widget-title"><span>{{ i18n "categories" }}</span></h5>
      <ul class="list-unstyled widget-list">
        {{ range $name, $items := site.Taxonomies.categories }}
          <li>
            <a href="{{ .Page.RelPermalink }}" class="d-flex"
              >{{ .Page.Title }}
              <small class="ms-auto">({{ len $items }})</small></a
            >
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}
