.fa-stack {
    font-size: 12px;
    height: 5px;
    margin-bottom: 0.5em;
}
.btn {
    border-radius: 5px;
    padding: 5px 8px;
    border: 0.5px solid #ddd;
}
.widget-list-inline li a {
    border-radius: 5px;
    padding: none;
    border: 0.1px solid #c8c7c7;
}
.title-bordered {
    border: none;
    padding: 0px;
}

.title-bordered h1, .title-bordered .h1, .title-bordered h2, .title-bordered .h2, .title-bordered h3, .title-bordered .h3, .title-bordered h4, .title-bordered .h4, .title-bordered h5, .title-bordered .h5, .title-bordered h6, .title-bordered .h6 {
    background: none;
}

header .navbar-nav .dropdown-menu {
    border-radius: 0px;
}