.series-index {
  border-left: 4px solid #0078d4;
  padding-left: 1rem;
  margin: 2rem 0;
}

.series-index h3 {
  margin-top: 0;
}

.series-index ol {
  margin: 0;
  padding-left: 1.2rem;
}

.series-index li {
  margin-bottom: 0.5rem;
}
