<div class="treecontainer">
    <div class="star"></div>
    <div class="pressie">
      <div class="cover"></div>
      <div class="wrap"> </div>
      <div class="ribbon"></div>
    </div>
    <div class="tree">
      <div class="base"> </div>
      <div class="layer">
        <div class="treeline"> </div>
        <div class="bauble one"></div>
      </div>

      <div class="layer two">
        <div class="treeline two"> </div>
        <div class="bauble two"></div>
        <div class="socks">
          <div class="top"> </div>
          <div class="foot"></div>
        </div>
      </div>

      <div class="layer three">
        <div class="treeline three"> </div>
        <div class="bauble three"></div>
        <div class="socks two">
          <div class="top"> </div>
          <div class="foot two"></div>
        </div>
      </div>
    </div>

    <div class="layer four">
      <div class="bauble four"></div>
      <div class="star two"></div>
      <div class="treeline four"> </div>
    </div>
  </div>