<div class="main">
  <div id="darkSwitch">
    <span class="fa-stack fa-1x">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i id="darkSwitchToggle" class="fa fa-stack-1x fa-inverse"></i>
    </span>
  </div>
</div>

<script>

  const dm_off = "fa-sun"
  const dm_on = "fa-moon"
  document.addEventListener('DOMContentLoaded', function () {

    const darkSwitch = document.getElementById("darkSwitch");
    const toggle = document.getElementById("darkSwitchToggle")

    function initTheme() {
      const e = null !== localStorage.getItem("darkSwitch") && "dark" === localStorage.getItem("darkSwitch");
      if (e) {
        toggle.classList.add(dm_on)
        body.classList.add('dark-mode');
      } else {
        toggle.classList.add(dm_off)
        document.body.removeAttribute("data-theme")
      }
    }

    function resetTheme() {
      if (toggle.classList.contains(dm_off)) {
        body.classList.add('dark-mode');
        localStorage.setItem("darkSwitch", "dark")
      } else {
        body.classList.remove('dark-mode');
        localStorage.removeItem("darkSwitch")
      }
      toggle.classList.toggle(dm_off)
      toggle.classList.toggle(dm_on)
    }

    window.addEventListener("load", () => {
      darkSwitch && (initTheme(), darkSwitch.addEventListener("click", () => {
        resetTheme()
      }))
    });
  })
</script>
