<!-- author -->
{{ $bgImage:= resources.Get "images/avd-cocktail-menu.png" }}
{{ $bgImage:= $bgImage.Fit "400x300 webp" }}
<div class="mb-4 position-relative">
    <div class="widget-title">
        <h3 class="h5 title-border">🍹 AVD Automation Cocktail</h3>
      </div>
    <a href="https://www.rozemuller.com/avd-automation-cocktail-the-menu/">
        <img class="img-fluid w-100 rounded-4" loading="lazy" decoding="async" src="{{ $bgImage.RelPermalink }}"
            alt="AVD-Automation-Cocktail" target="_blank" rel="noopener noreferrer">
    </a>
</div>
