<div class="widget az-avd-status">
  <div class="widget-title">
    <h3 class="h5 title-border">Az.Avd Status</h3>
  </div>
  <a href="https://www.powershellgallery.com/packages/Az.Avd" target="_blank"><img
      src="https://img.shields.io/powershellgallery/v/az.avd?style=flat-square" alt="Gallery"></a>
  <a href="https://www.powershellgallery.com/packages/Az.Avd" target="_blank"><img
      src="https://img.shields.io/powershellgallery/dt/az.avd?color=yellow&style=flat-square" alt="Downloads"></a>
  <a href="https://github.com/srozemuller/azavd" target="_blank"><img
      src="https://img.shields.io/github/last-commit/srozemuller/azavd?style=flat-square" alt="LastCommit"></a>
  <a href="https://github.com/srozemuller/AzAvd/releases" target="_blank"><img
      src="https://img.shields.io/github/v/release/srozemuller/azavd?include_prereleases&style=flat-square"
      alt="Release"></a>
  <a href="https://github.com/srozemuller/AzAvd/issues" target="_blank"><img
      src="https://img.shields.io/github/issues/srozemuller/azavd?style=flat-square" alt="Issues"></a>
  <!-- coffee -->

  <div class="widget-title">

  </div>
  <a href="https://www.buymeacoffee.com/srozemuller" target="_blank"><img
      src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
      style="height: 30px !important;width: 117px !important;"></a>
    </div>